* {
    box-sizing: border-box;
    max-width: 100%;
}

html {
    background: linear-gradient(180deg, #0F725C 0%, #041832 48.44%, #01080E 100%);
    min-height: 100vh;
    font-size: 10px;
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1200px; /* Maximum width to ensure it doesn't stretch too wide */
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.4rem;
    color: #041832;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.6rem;
    color: #041832;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1.6rem;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.6rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

/* Table container to allow horizontal scrolling */
.table-container {
    overflow-x: auto; /* Adds horizontal scrolling if the table is too wide */
    margin-top: 20px;
}

#mealTable {
    width: 100%;
    border-collapse: collapse;
}

#mealTable thead {
    background-color: #041832;
    color: #fff;
    text-align: left;
}

#mealTable th,
#mealTable td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    font-size: 1.6rem;
    text-align: left;
}

#mealTable tbody tr:nth-child(even) {
    background-color: #f4f4f4;
}

#mealTable tbody tr:hover {
    background-color: #e9e9e9;
}

/* Responsive styling */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    h1 {
        font-size: 2rem;
    }

    label,
    input[type="text"],
    input[type="date"],
    input[type="number"],
    select,
    button {
        font-size: 1.4rem;
    }

    #mealTable th, #mealTable td {
        font-size: 1.4rem;
    }
}
